.nav {
    background: #53535342;
    backdrop-filter: blur(5px);
    color: rgb(217, 217, 217);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    padding-inline: 0.25rem;
    padding-block: 0.25rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .left, 
    .right {
        display: flex;
        align-items: center;
        gap: 0.7rem;
    }
}