.window {
    width: 30rem;
    height: 20rem;

    background: #000;
    border-radius: 0.75rem;
    color: rgb(206, 206, 206);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    nav {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;

        padding-inline: 0.25rem;
        padding-block: 0.25rem;
        border-bottom: 1px solid rgba(245, 245, 245, 0.311);

        .dots {
        display: flex;
        align-items: center;
        gap: 0.2rem;

            .dot {
                width: 0.85rem;
                height: 0.85rem;
                border-radius: 50%;
            }
                .red {
                
                background: rgb(219, 6, 6);
                }
                .yellow {
                
                background: rgb(245, 232, 2);
                }
                .green {
                
                background: rgb(1, 204, 1);
                }
        }
    }
    
    .main-content {
        overflow: auto;
    }
}